{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Arenales League</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cum tempora ipsa nam mollitia quos
            exercitationem eaque neque. Hic quia porro libero necessitatibus omnis! Impedit, sint. Velit beatae at
            dolore quibusdam non quos minus atque sint inventore explicabo cupiditate reprehenderit reiciendis,
            laudantium repellendus dolorem cumque laborum nesciunt totam asperiores, provident quae temporibus doloribus
            porro. Illo at eius, nulla impedit quia magni nobis qui maxime sit sint cupiditate nihil illum quibusdam
            unde reiciendis voluptate amet. Debitis, aut! Voluptate in minus repudiandae praesentium fugit quia minima
            animi, dolore laboriosam atque nam. Modi omnis obcaecati nobis perferendis quasi nostrum, sit reiciendis
            aliquam dignissimos?</p>
    </section>
</main>
{% endblock %}