{% extends 'championship/navbar_championship.html' %}

{% block page_content %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Jugadores del equipo: {{ team.nombre }}</h2>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-end">
                <form class="d-flex" method="get" action="">
                    <input class="form-control me-2" type="search" placeholder="Buscar jugador"
                        aria-label="Buscar jugador" name="search_query" value="{{ search_query }}">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                    {% if search_query %}
                    <a class="btn btn-outline-secondary ms-2" href="{% url 'players_team_view' championship.id team.id %}">Volver</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="card rounded py-4 bg-light">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-light bg-light px-2">
                    <div class="row row-cols-1 row-cols-md-4 g-4"> <!-- Ajusta las columnas aquí -->
                        {% for player in page_obj %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="d-flex align-items-center justify-content-center rounded" style="width: 100%; height: 160px; overflow: hidden;">
                                    <img src="{{ player.foto.url }}" class="img-fluid" style="width: 100px; height: 150px; object-fit: cover;" alt="Foto del jugador">
                                </div>
                                <div class="card-body">
                                    <div>
                                        <h5 class="card-text text-center">{{ player.nombre }} {{ player.apellido }}</h5>
                                    </div>
                                    <div>
                                        <p class="h5 card-text text-center">#{{ player.dorsal }}</p>
                                    </div>
                                    <div>
                                        <p class="card-text text-center">Cédula: {{ player.cedula }}</p>
                                    </div>
                                    <div>
                                        <p class="card-text text-center">
                                            Estado:
                                            <span class="status-indicator {% if player.estado == 'activo' %}status-active{% elif player.estado == 'suspendido' %}status-suspended{% else %}status-default{% endif %}">
                                                ●
                                            </span>
                                            {{ player.estado }}
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-center py-2">
                                        <a href="?player_id={{ player.id }}&search_query={{ search_query }}&page={{ page_obj.number }}" class="btn btn-outline-primary w-100" style="max-width: 80%;">Ver Estadísticas</a>
                                    </div>                
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">No hay jugadores disponibles.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-4">
                <div class="card">
                    {% if selected_player %}
                    <div class="mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="card-body ps-3">
                                    <div>
                                        <p class="card-text">Goles</p>
                                    </div>
                                    <div>
                                        <p class="h3" style="font-weight: 700;">1</p>
                                    </div>
                                    <div>
                                        <p class="card-text">Asistencias</p>
                                    </div>
                                    <div>
                                        <p class="h3" style="font-weight: 700;">3</p>
                                    </div>
                                    <div>
                                        <p class="card-text">Amarillas</p>
                                    </div>
                                    <div>
                                        <p class="h3" style="font-weight: 700;">2</p>
                                    </div>
                                    <div>
                                        <p class="card-text">Rojas</p>
                                    </div>
                                    <div>
                                        <p class="h3" style="font-weight: 700;">0</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="d-flex align-items-center justify-content-center rounded" style="width: 100%; height: 300px; overflow: hidden;">
                                    <img src="{{ selected_player.foto.url }}" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt="Foto del jugador">
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="col-md-6">
                                <div>
                                    <h5 class="card-text" style="font-weight: 700;">{{ selected_player.nombre }}</h5>
                                </div>
                                <div>
                                    <h1 class="card-text" style="font-weight: 800;">{{ selected_player.apellido }}</h1>
                                </div>
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">Dorsal </span>
                                        <span style="font-weight: 800;">#{{ selected_player.dorsal }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <p class="card-text text-end">Cédula: {{ selected_player.cedula }}</p>
                                </div>
                                <div>
                                    <p class="card-text text-end">Teléfono: {{ selected_player.telefono }}</p>
                                </div>
                                <div>
                                    <p class="card-text text-end">Edad: {{ selected_player.fecha_nacimiento }}</p>
                                </div>
                                <div>
                                    <p class="card-text text-end">Estado: {{ selected_player.estado }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 py-2 text-end">
                            <div>
                                <p>Ver Perfil</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <p>Selecciona un jugador para ver los detalles.</p>
                    {% endif %}
                </div>
                
                <!-- <div class="card">
                    <div class="card-body">
                        {% if selected_player %}
                            <h5 class="card-title">{{ selected_player.nombre }} {{ selected_player.apellido }}</h5>
                            <p class="card-text">Dorsal: #{{ selected_player.dorsal }}</p>
                            <p class="card-text">Cédula: {{ selected_player.cedula }}</p>
                            <p class="card-text">Estado: {{ selected_player.estado }}</p>
                            <div class="d-flex align-items-center justify-content-center rounded" style="width: 100%; height: 160px; overflow: hidden;">
                                <img src="{{ selected_player.foto.url }}" class="img-fluid" style="width: 100px; height: 150px; object-fit: cover;" alt="Foto del jugador">
                            </div>
                        {% else %}
                            <p>Selecciona un jugador para ver los detalles.</p>
                        {% endif %}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="pagination mt-4">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?search_query={{ search_query }}&page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?search_query={{ search_query }}&page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<style>
    .status-active {
        color: rgb(5, 156, 5);
    }
    
    .status-suspended {
        color: red;
    }
    
    .status-default {
        color: gray;
    }
</style>
{% endblock %}
