{% extends 'championship/navbar_championship.html' %}

{% block page_content %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
            <h2 class="mb-2 text-center text-md-start">Jugadores del equipo: {{ team.nombre }}</h2>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-center justify-content-md-end mb-2">
                <a href="#" class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
                    <i class="bi bi-plus-lg me-2"></i>Añadir Jugador
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <form class="d-flex mb-2 w-100" method="get" action="">
                <input class="form-control me-2" type="search" placeholder="Buscar jugador"
                    aria-label="Buscar jugador" name="search_query" value="{{ search_query }}">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
                {% if search_query %}
                <a class="btn btn-outline-secondary ms-2" href="{% url 'players_team_view' championship.id team.id %}">Volver</a>
                {% endif %}
            </form>
        </div>
    </div>
    <!-- Modal Añadir Jugador -->
    <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <!-- botón para abrir modal -->
              <h5 class="modal-title" id="addPlayerModalLabel">Añadir Jugador</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Selecciona una opción:</p>
              <div class="d-grid gap-2">
                <!-- botón para crear un nuevo jugador en el equipo actual -->
                <a href="{% url 'create_players' championship.id team.id %}" class="btn btn-primary">Añadir nuevo jugador</a>
                <!-- botón para añadir un jugador existente al equipo actual -->
                <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#availablePlayersModal">Añadir jugador existente</a>
                <!-- <button class="btn btn-secondary" data-bs-dismiss="modal">Añadir jugador existente</button> -->
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- modal jugadores disponibles -->
    <div class="modal fade" id="availablePlayersModal" tabindex="-1" aria-labelledby="availablePlayersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="availablePlayersModalLabel">Añadir Jugador Existente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cédula</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player_available in players_availables %}
                            <tr>
                                <td>{{ player_available.nombre }}</td>
                                <td>{{ player_available.apellido }}</td>
                                <td>{{ player_available.cedula }}</td>
                                <td>
                                    <button class="btn btn-primary" onclick="showConfirmModal('{{ player_available.id }}', '{{ player_available.nombre }} {{ player_available.apellido }}')">Añadir</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No hay jugadores disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmAddPlayerModal" tabindex="-1" aria-labelledby="confirmAddPlayerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAddPlayerModalLabel">Confirmar Añadir Jugador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="confirmAddPlayerText">¿Estás seguro de que quieres añadir este jugador al equipo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmAddPlayerBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card rounded py-4 bg-light">
        <div class="row">
            <!-- Jugadores  -->
            <div class="col-md-8 order-2 order-md-1">
                <div class="card border-light bg-light px-2">
                    <div class="row row-cols-1 row-cols-md-4 g-4"> <!-- Ajusta las columnas aquí -->
                        {% for player in page_obj %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="d-flex align-items-center justify-content-center rounded" style="width: 100%; height: 160px; overflow: hidden;">
                                    <img src="{{ player.foto.url }}" class="img-fluid" style="width: 100px; height: 150px; object-fit: cover;" alt="Foto del jugador">
                                </div>
                                <div class="card-body">
                                    <div>
                                        <h5 class="card-text text-center">{{ player.nombre }} {{ player.apellido }}</h5>
                                    </div>
                                    <div>
                                        <p class="h5 card-text text-center">#{{ player.dorsal }}</p>
                                    </div>
                                    <div>
                                        <p class="card-text text-center">Cédula: {{ player.cedula }}</p>
                                    </div>
                                    <div>
                                        <p class="card-text text-center">
                                            Estado:
                                            <span class="status-indicator {% if player.estado == 'activo' %}status-active{% elif player.estado == 'suspendido' %}status-suspended{% else %}status-default{% endif %}">
                                                ●
                                            </span>
                                            {{ player.estado }}
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-center py-2">
                                        <a href="?player_id={{ player.id }}&search_query={{ search_query }}&page={{ page_obj.number }}" class="btn btn-outline-primary w-100" style="max-width: 80%;">Ver Estadísticas</a>
                                    </div>                
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center">No hay jugadores disponibles.</p>
                        {% endfor %}
                    </div>
                    <div class="pagination mt-4">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?search_query={{ search_query }}&page=1" aria-label="Primera">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?search_query={{ search_query }}&page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>              
            </div>
            <!-- Ver detalles de jugador al seleccionarlo -->
            <div class="col-md-4 px-4 mb-2 order-1 order-md-2">
                <div class="card">
                    {% if selected_player %}
                    <div style="max-width: 540px;">
                        <div class="row g-0">
                            <!-- Columna para las estadísticas -->
                            <div class="col-4 col-md-4 order-2 order-md-1">
                                <div class="card-body ps-3">
                                    <div class="stat-item">
                                        <div>
                                            <p class="card-text">Goles</p>
                                        </div>
                                        <div>
                                            <p class="h3" style="font-weight: 700;">1</p>
                                        </div>
                                    </div>
                                    <div class="stat-item">
                                        <div><p class="card-text">Asistencias</p></div>
                                        <div><p class="h3" style="font-weight: 700;">3</p></div>             
                                    </div>
                                    <div class="stat-item">
                                        <div><p class="card-text">Amarillas</p></div>
                                        <div><p class="h3" style="font-weight: 700;">2</p></div>
                                    </div>
                                    <div class="stat-item">
                                        <div><p class="card-text">Rojas</p></div>
                                        <div><p class="h3" style="font-weight: 700;">0</p></div>           
                                    </div>
                                </div>
                            </div>
                            <!-- Columna para la imagen -->
                            <div class="col-8 col-md-8 order-1 order-md-2" style="height: 290px">
                                <div class="d-flex align-items-center justify-content-center rounded" style="width: 100%; height: 100%; overflow: hidden;">
                                    <img src="{{ selected_player.foto.url }}" class="img-fluid player-img" style="width: 100%; height: 100%; object-fit: cover;" alt="Foto del jugador">
                                </div>
                            </div>
                        </div>
                        <!-- Información adicional del jugador -->
                        <div class="row px-3">
                            <div class="col-md-12">
                                <div>
                                    <h5 class="card-text" style="font-weight: 700;">{{ selected_player.nombre }}</h5>
                                </div>
                                <div>
                                    <h1 class="card-text" style="font-weight: 800;">{{ selected_player.apellido }}</h1>
                                </div>
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">Dorsal </span>
                                        <span style="font-weight: 800;">#{{ selected_player.dorsal }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Más detalles del jugador -->
                        <div class="row px-3">
                            <div class="col-md-6">
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">- Cédula</span>
                                        <span style="font-weight: 700;">{{ selected_player.cedula }}</span>
                                    </p>
                                </div>
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">- Cumpleaños </span>
                                        <span style="font-weight: 700;">{{ selected_player.fecha_nacimiento|date:"d.m.Y" }}</span>
                                    </p>                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">- Teléfono </span>
                                        <span style="font-weight: 700;">{{ selected_player.telefono }}</span>
                                    </p>
                                </div>
                                <div>
                                    <p class="card-text">
                                        <span style="font-weight: normal;">- Estado </span>
                                        <span style="font-weight: 700;">{{ selected_player.estado }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Enlace para ver el perfil -->
                        <div class="row px-3 py-2 text-end">
                            <div>
                                <a href="#" style="text-decoration: none; font-size: 1.25rem; font-weight: 700;">
                                    <p>
                                        <span>Ver Perfil </span><i class="bi bi-arrow-right" style="font-size: 1.25rem;"></i>
                                    </p>
                                </a>
                            </div>                            
                        </div>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p>Selecciona un jugador para ver los detalles.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    
</div>
<script>
    function showConfirmModal(playerId, playerName) {
        // Actualiza el texto del modal con el nombre del jugador
        document.getElementById('confirmAddPlayerText').innerText = `¿Estás seguro de que quieres añadir a ${playerName} al equipo?`;

        // Configura el botón de confirmación para añadir el jugador seleccionado
        document.getElementById('confirmAddPlayerBtn').onclick = function() {
            addPlayerToTeam(playerId);
        };

        // Muestra el modal de confirmación
        var confirmModal = new bootstrap.Modal(document.getElementById('confirmAddPlayerModal'));
        confirmModal.show();
    }

    function addPlayerToTeam(playerId) {
        // Redirige a la URL de añadir jugador al equipo
        window.location.href = `{% url 'add_existing_players' championship.id team.id %}?player_id=` + playerId;
    }
</script>

<style>
    .status-active {
        color: rgb(5, 156, 5);
    }
    
    .status-suspended {
        color: red;
    }
    
    .status-default {
        color: gray;
    }
    @media (max-width: 576px) {
        .player-img {
            height: 250px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
        }
    }
    
</style>
{% endblock %}
